body
{

    background: lightblue;
}

.blue{
    color: #1E2ED9;
}

.red{
    color: #D9251E;
}

.futura {
    font-family: futura;
}

.fsize-25 {
    font-size: 25px;
}


.centerHeader{
    margin-top:7px;
    font-weight: bold;
    text-align: center;
}

.frame-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */  
    padding-top: 25px;
    width: 300%; /* enlarge beyond browser width */
    left: -100%; /* center */
}

.frame-container iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

/*CSS*/ 
.videoPersonal {
    width: 70%;
    max-height: 70%;
  }

.wrapper {
    overflow: hidden;
    max-width: 100%;
 }



 input:invalid {
    background-color: #ffdddd !important;
  }
  
.invalid{
     background-color: #ffdddd !important;
}

  .bg {
    /* The image used */
    background-image: url("../media/framebck.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headerForIphone{
        font-size: 4.5rem;
  }


  @media (max-width: 350px) {
    .headerForIphone{font-size: 4rem !important;}
}


@media (max-width: 500px){
    .videoPersonal{
        width: 100% !important;
        max-height: 100% !important;
    }
}